@use 'styles/auth-form' as *;
@use 'styles/typography' as *;

.form {
  @include form-base;
}

.success {
  @include form-state-block;

  &__button {
    margin-top: 8px;
  }
}

.title {
  @include tg(3xl, b);
}

.description {
  @include form-description;
}

.back__link {
  display: inline-flex;
  gap: var(--spacing-md);
  align-items: center;

  @include tg(3xl, m);

  color: var(--color-text-primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
