@use 'styles/auth-form' as *;
@use 'styles/typography' as *;

.form {
  @include form-base;
}

.message {
  @include form-state-block;
}

.title {
  @include form-title(24px);
}

.description {
  @include form-description;
}

.fields {
  @include form-fields;
}

.link {
  display: inline-block;
  margin: 0 auto;

  @include tg(base);

  color: var(--color-primary);
}
